*
{
    font-family: 'Comfortaa', cursive;
}
.groupe-input
{
    margin-left: 40%;
    margin-top: 10%;
}
.inputclub
{
    border: 2px solid black;
    width: 35%;
    padding: 2% 0%;
    margin-bottom: 5%;
    border-radius: 5px;
    font-size: 1.2vw;
    background-color: #F4943B
}
.inputsponsor
{
    border: 2px solid black;
    width: 35%;
    padding: 2% 0%;
    margin-bottom: 5%;
    border-radius: 5px;
    font-size: 1.2vw;
    background-color: #00AEE9
}
.inputprojet
{
    border: 2px solid black;
    width: 35%;
    padding: 2% 0%;
    margin-bottom: 5%;
    border-radius: 5px;
    font-size: 1.2vw;
    background-color: #808284
}