*
{
    font-family: 'Comfortaa', cursive;
}
.sponsore {
    margin-left: 30%;
    margin-top: 5%;
    font-size: 30px;
}
.buttonsponsor {
        border: 2px solid black;
        width: 15%;
        margin-left:20% ;
        margin-right: 5%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1vw;
        background-color: #00AEE9
    
}
.buttonprojet {
        border: 2px solid black;
        width: 15%;
        margin-left: 20%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1vw;
        background-color: #00AEE9
    
}
.sponsorname
{
    margin-bottom: 2%;
    color: #231F20
}
.sponsorprojet{
    margin-left: 5%;
}  