
<<<<<<< HEAD
  .logo-allsponsored {
    margin-top: 1%;
    margin-left: 1%;
  }

  .iconLogo {
    width: 20vw;
  }
=======
.iconLogo {
  width: 150px;
  padding-bottom: 10px;
}

.AdminHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 25px;
}
>>>>>>> dev

  .AdminHeader {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    margin-right: 5%;
    width: 10%;
    margin-top: 2%;
    display: flex;
  }

  .icon {
    width: 4.5vw;
    margin-right: 1vw;
  }

  .logout {
    border: none;
  }

