.adminprojet{
    *
    {
        font-family: 'Comfortaa', cursive;
    }
    p {
        margin-left: 40%;
        margin-top: 5%;
        font-size: 5vh;
        margin-bottom: 5%
    
    }
    
    .buttonprojet {
            border: 2px solid black;
            width: 30%;
            margin-bottom: 1%;
            font-size: 1.3vw;
            background-color: #00AEE9
    }
    .contractname
    {
        margin-bottom: 2%;
        color: #231F20;
        margin-left: 20%;
    }
     
}
