// *
// {
//     font-family: 'Comfortaa', cursive;
// }
.groupe-input {
    .inputclub
    {
        border: 2px solid black;
        width: 35%;
        padding: 2% 0%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1.2vw;
        background-color: #F4943B;
        color: white;
        font-weight: bold;
        // margin-left: 40%;
        // margin-top: 10%;
    }
    .inputsponsor
    {
        border: 2px solid black;
        width: 35%;
        padding: 2% 0%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1.2vw;
        color: white;
        font-weight: bold;
        background-color: #00AEE9;
        // margin-left: 40%;
        // margin-top: 10%;
    }
    .inputprojet
    {
        border: 2px solid black;
        width: 35%;
        padding: 2% 0%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1.2vw;
        background-color: #808284;
        color: white;
        font-weight: bold;
    //     margin-left: 40%;
    //     margin-top: 10%;
    // }
}
}
