.logo-allsponsored {
  margin-top: 1%;
  margin-left: 1%;
}

.iconLogo {
  width: 150px;
  padding-bottom: 10px;
}

.AdminHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 25px;
}

.menu {
  margin-right: 5%;
  width: 10%;
  margin-top: 2%;
  display: flex;
}

.menu > .icon {
  margin-right: 15%;
  padding-right: 20%;
  width: 10px;
}

.logout {
  border: none;
}
