
.groupe-input {

    
    .button1 {
        color: white;
    font-weight: bold;
        border: 2px solid black;
        width: 35%;
        padding: 2% 0%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1.2vw;
        background-color: #F4943B
    }
    .button2 {
        color: white;
    font-weight: bold;
        border: 2px solid black;
        width: 35%;
        padding: 2% 0%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1.2vw;
        background-color: #00AEE9
    }
    .button3 {
        color: white;
    font-weight: bold;
        border: 2px solid black;
        width: 35%;
        padding: 2% 0%;
        margin-bottom: 5%;
        border-radius: 5px;
        font-size: 1.2vw;
        background-color: #808284
    }
    
}
