.projetglobal {

    /* margin-left: 20%;
    margin-top: 5%; */
text-align: center;
p {
    margin-top: 5%;
    font-size: 5vh;
    margin-bottom: 5%

}
}
/* input
{
    border: 2px solid black;
    width: 20%;
    margin-bottom: 2%;
    border-radius: 5px;
    font-size: 0.7vw;
}
select 
{
    border: 2px solid black;
    width: 20%;
    margin-bottom: 2%;
    border-radius: 5px;
    font-size: 0.7vw;
} */