h1 {
  margin-top: 5%;
  margin-left: 5%;
}

h2 {
  font-size: 20px;
}

.produit_ajout {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}

.formAjout {
  padding-left: 2%;
  padding-top: 2%;
  display: flex;
}

.butt_product {
  background: white;
  height: 35px;
}

.produits {
  margin-left: 5%;
}

::placeholder {
  color: black;
}

